@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

#app {
    * {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
}

header,
main {
    padding: 0 21px;

    @media screen and (min-width: 800px) {
        padding: 0 100px;
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .brand {
        svg {
            height: 43px;
            width: fit-content;
        }
    }

    nav {

        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;

            li {
                display: flex;
                justify-content: space-between;
                list-style: none;
                flex-wrap: nowrap;

                a {
                    white-space: nowrap;
                    text-decoration: none;
                    color: $rose;
                    margin-left: 10px;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 0em;
                    text-transform: uppercase;

                    &.active {
                        text-decoration: underline;
                    }


                }

            }
        }
    }



    @media screen and (min-width: 800px) {
        .brand {
            svg {
                height: 54px;
            }
        }

        nav {

            ul li a {
                font-size: 24px;
                font-weight: 500;
                margin-left: 57px;
                text-transform: capitalize;
            }
        }

    }
}

main {
    .gallery {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .product_card {
        position: relative;
        height: 255px;
        width: 100%;
        border-radius: 10px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        background-size: cover;

        &:hover {
            cursor: pointer;

            .title {
                font-weight: 700;
            }
        }

        &--empty {
            background-color: $rose;
            background: linear-gradient(180deg, $rose 0%, rgb(104, 68, 68) 100%);

            .title {
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                width: 50%;
                height: 18px;
            }

        }

        a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

        }

        .title {
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: white;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0em;
            text-align: left;
            max-width: 60%;
        }
    }

    .banner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 22px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 0;

        }

        &--sm {
            height: 111px;
        }

        &--md {
            height: 223px;
        }

        span {
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 500;
            color: white;
            margin-left: 15px;
            max-width: 70%;
            z-index: 1;
        }
    }



    @media screen and (min-width: 800px) {
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
            gap: 60px;
            padding: 50px;
            border-radius: 25px;
            background-color: $grey;


        }

        .product_card {
            position: relative;
            height: 340px;
            border-radius: 10px;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 0px;

            .title {
                font-size: 18px;
                line-height: 26px;
            }
        }

        .banner {
            margin-bottom: 43px;
            justify-content: center;
            border-radius: 25px;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 0;

            }

            &--sm {
                height: 223px;
            }

            &--md {
                height: 223px;
            }

            &--md {
                height: 255px;
            }

            span {
                font-size: 48px;
                text-align: center;

            }

        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    align-items: center;
    padding: 62px;
    width: 100%;
    margin-top: 15px;

    svg {
        height: 35px;
        margin-bottom: 30px;
    }

    span {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;

    }

    @media screen and (min-width: 800px) {
        span {
            font-size: 24px;
            font-weight: 500;
            line-height: 34px;

        }
    }
}

.about_page {
    @media screen and (min-width: 800px) {
        .about_container {
            padding: 0 10%;
        }
    }
}

.error_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    color: $rose;

    .status {
        font-family: Montserrat;
        font-size: 96px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        margin: 11px;

    }

    .message {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0em;
        text-align: center;

    }

    a {
        margin-top: 10vh;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: $rose;

    }

    @media screen and (min-width: 800px) {
        .status {
            font-size: 288px;
            font-weight: 700;
        }

        .message {
            font-size: 36px;
            font-weight: 500;
            line-height: 51px;
        }

        a {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;

        }
    }

}

.collapse {
    margin-bottom: 20px;

    .title {
        display: flex;
        justify-content: space-between;
        padding: 0 12px;
        align-items: center;
        height: 30px;
        border-radius: 5px;
        background-color: $rose;

        &:hover {
            cursor: pointer;
        }


        span {
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            color: white;
        }


        button {
            background: none;
            border: none;
            transition-property: all;
            transition-duration: .3s;
            transition-timing-function: ease;
            transform: rotate(180deg);

            &.active {
                transform: rotate(0deg);
                transition-property: all;
                transition-duration: .3s;
                transition-timing-function: ease;
            }

            &:hover {
                cursor: pointer;
            }

            svg {
                width: 9px;
                height: 15px;
            }
        }

    }

    .content {
        box-sizing: border-box;
        overflow: hidden;
        max-height: 800px;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
        background-color: $grey;
        border-radius: 0 0 5px 5px;
        color: $rose;

        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        padding: 12px;

        ul {
            padding: 0;

            li {
                list-style: none;
            }
        }


        &.close {
            max-height: 0;
            padding: 0px 12px;
        }
    }

    &--empty {
        display: flex;
        width: 100%;
        flex-direction: column;

        span {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;
            width: 30%;
            height: 18px;
        }
    }

    @media screen and (min-width: 800px) {
        .title {
            height: 47px;

            span {
                font-size: 24px;
            }

            button svg {
                height: 26px;
                width: 16px;
            }
        }
    }
}


.slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;

    .content {
        white-space: nowrap;
        transition: transform 0.3s ease;
    }

    .slideshow-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 255px;
        background-color: #fff;
        padding: 0 20px 0 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &--empty {
        .content {
            height: 255px;
            background-color: $grey;
        }
    }

    .slideshow_buttons {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        button {
            display: block;
            position: absolute;
            background: none;
            border: none;
            cursor: pointer;
            top: 50%;

            &:nth-child(1) {
                transform: rotate(-90deg);
            }

            &:nth-child(2) {
                right: 0;
                transform: rotate(90deg);
            }

        }

        .indicator {
            display: block;
            visibility: hidden;
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-family: Montserrat;
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            text-align: center;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

        }
    }



    @media screen and (min-width: 800px) {
        margin-bottom: 24px;

        .slideshow-item {
            height: 415px;
        }

        .slideshow_buttons {
            button svg {
                height: 45px;
                width: 80px;
            }

            .indicator {
                visibility: visible !important;
            }
        }

        &--empty {
            .content {
                height: 415px;
                background-color: $grey;
            }
        }

    }
}

.user_infos {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .name {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: right;
        color: $rose;
        max-width: 80px;
    }

    .picture {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin-left: 10px;
        background-position: center;
        background-size: cover;
    }

    &--empty {
        .name {
            display: block;
            height: 18px;
            background-color: #FF6060;
            border-radius: 10px;
            min-width: 50px;
            max-width: 150px;
        }

        .picture {
            background-color: $grey;
        }
    }

    @media screen and (min-width: 800px) {
        .name {
            font-size: 18px;
            line-height: 26px;
            max-width: 100px;
            font-weight: 500;

        }

        .picture {
            height: 64px;
            width: 64px;
        }
    }
}

.tags_list {
    display: flex;
    flex-wrap: wrap;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px;
        min-width: 70px;
        border-radius: 5px;
        background-color: $rose;
        color: white;
        padding: 0 15px;
        margin: 5px;
        margin-right: 10px;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 0em;
    }

    &--empty {
        span {
            &::before {
                content: '';
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                width: 100%;
                height: 10px;
            }
        }
    }

    @media screen and (min-width: 800px) {

        span {
            height: 25px;
            font-size: 14px;
            border-radius: 10px;
        }
    }
}

.rating {
    ul {
        padding: 0;

        li {
            display: inline-block;

            svg {
                height: 15px;
                width: 15px;
                margin-right: 5px;
            }
        }
    }

    @media screen and (min-width: 800px) {
        ul {
            li {
                svg {
                    height: 30px;
                    width: 30px;
                    margin-left: 10px;
                }
            }
        }
    }
}


.product {
    &_infos {
        display: grid;
        grid-template-areas:
            "title title title"
            "location location location"
            "tag tag tag"
            "rate rate user";
        grid-auto-rows: auto;

        &--title {
            h1 {
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: $rose;
                grid-area: title;
            }

            span.empty {
                display: block;
                height: 18px;
                background-color: $rose;
                border-radius: 10px;
                min-width: 100px;
                max-width: 300px;
                margin: 5px 0
            }

        }


        &--location {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
            color: $rose;
            grid-area: location;

            span.empty {
                display: block;
                height: 18px;
                background-color: $rose;
                border-radius: 10px;
                min-width: 50px;
                max-width: 150px;
            }
        }

        &--tags {
            display: flex;
            align-items: center;
            grid-area: tag;
        }

        &--rating {
            grid-area: rate;
            text-align: start;
        }

        &--user {
            grid-area: user;
        }
    }

    @media screen and (min-width: 800px) {

        &_infos {
            display: grid;
            grid-template-areas:
                "title title user"
                "location location user"
                "tag tag rate";
            grid-auto-rows: auto;

            &--title {
                h1 {
                    font-size: 36px;
                    margin: 0;
                    line-height: 35px;
                }
            }

            &--location {

                font-size: 18px;
                margin: 20px 0;
            }

            &--tags {
                display: flex;
                align-items: center;
                grid-area: tag;
            }

            &--rating {
                grid-area: rate;
                text-align: end;
            }

            &--user {
                grid-area: user;
            }

        }

        &_content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 75px;
        }
    }
}